//конвертация svg to css:  https://yoksel.github.io/url-encoder/
.header{
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;

    height: 400px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px 223px 40px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}