@import "normalize";
@import "reset";
@import "fonts";
// Google Fonts: https://fonts.google.com/
// Каталог шрифтов: https://nomail.com.ua/
// Конвертер шрифтов: https://transfonter.org/



//default style's
html {
    box-sizing: border-box;
}

body {
    font-family: 'Georgia';
    color: #000;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    // max-height: 100vh;

    //  //чтобы убрать скрол от  navigation
    // position: relative;
    // overflow-x: hidden;
}

@import "blocks/header";
@import "blocks/notOnly";
// @import "blocks/catalog";
// @import "blocks/count";
// @import "blocks/product";
// @import "blocks/footer";
// @import "blocks/modal";

// @import "mediaQueries";

